<div class="wrapper account-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>账户信息</h4>
    </div>
    <div class="section">
      <div class="sec-title">
        <span>当前千里眼账户</span>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">账户名</div>
          <div class="weui-cell__ft">
            13546824587
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">千里眼使用期限</div>
          <div class="weui-cell__ft">
            2017-09-20至2019-09-20
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">微信订房</div>
          <div class="weui-cell__ft">
            已开通
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">短信余额</div>
          <div class="weui-cell__ft">
            4000条
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">已使用短信</div>
          <div class="weui-cell__ft">
            4000条
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="sec-title">
        <span>本酒店的所有账户</span>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">13546824587</div>
          <div class="weui-cell__ft">
            <i class="iconfont icon-shanchu1"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">13698159745</div>
          <div class="weui-cell__ft">
            <i class="iconfont icon-shanchu1"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">13325468654</div>
          <div class="weui-cell__ft">
            <i class="iconfont icon-shanchu1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

