<div class="wrapper setting-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>设置</h4>
    </div>
    <div class="section gap-height">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">订单通知</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">声音提醒</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
      </div>
    </div>
    <div class="section gap-height">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">预定通知提醒</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">入住通知提醒</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">离店通知提醒</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
      </div>
    </div>
    <div class="section gap-height">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">异动短信通知</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">更改房价</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">续住</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">换房</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">0房费换房</div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
      </div>
    </div>
    <div class="section gap-height">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">
            <div class="weui-media-box__title">千里眼到期提醒</div>
            <div class="weui-media-box__desc">到期前10天将接收到千里眼到期提醒</div>
          </div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">
            <div class="weui-media-box__title">小飞鸽余额预警</div>
            <div class="weui-media-box__desc">小飞鸽余额为预警阀值时将接收到预警短信</div>
          </div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">
            <div class="weui-media-box__title">库存价格干预</div>
            <div class="weui-media-box__desc">库存价格低于30天预警</div>
          </div>
          <div class="weui-cell__ft">
            <input type="checkbox" class="weui-switch" [(ngModel)]="cho1" name="cho1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

