<div class="wrapper relation-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>关联酒店账户</h4>
      <div class="right-icon" routerLink="/user-center/add-relation"><i class="iconfont icon-tianjia"></i></div>
    </div>
    <div class="section gap-height">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">13546824587</div>
          <div class="weui-cell__ft">
            解除关联
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">13546824587</div>
          <div class="weui-cell__ft">
            解除关联
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">13546824587</div>
          <div class="weui-cell__ft">
            解除关联
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

