<div class="wrapper version-center-wrapper">
  <div class="wrapper-bg">
    <div class="linear-bg">
      <div class="title">
        <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
        <h4>版本中心</h4>
      </div>
      <div class="user-info">
        <div class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="../../../assets/images/defaultProfile.png" alt="">
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">13874886360</h4>
            <p class="weui-media-box__desc version-free">免费版</p>
            <p class="weui-media-box__desc">2019-09-25 到期</p>
          </div>
          <div class="weui-media-box__ft update-flag"><i class="iconfont icon-shengji"></i>升级</div>
        </div>
      </div>
    </div>
    <div class="section gap-height">
      <div class="weui-cells">
        <div class="weui-cell">
           <div class="weui-cell__bd">
             <p>版本类型</p>
           </div>
            <div class="weui-cell__ft">咨询电话：0731-88892222</div>
        </div>
        <div class="version-cell">
          <div class="free-bg">
            <h4 class="pull-left"><span>免费版</span></h4>
            <div class="feature-list pull-right">
              <div class="feature-block">
                <div class="feature-item">支持1个账户登录</div>
                <div class="feature-item">实时房态</div>
                <div class="feature-item">数据更新服务</div>
              </div>
            </div>
          </div>
        </div>
        <div class="version-cell">
          <div class="enterprise-bg">
            <h4 class="pull-left"><span>企业版</span></h4>
            <div class="feature-list pull-right">
              <div class="feature-block">
                <div class="feature-item">支持10个账户登录</div>
                <div class="feature-item">实时房态</div>
                <div class="feature-item">数据更新服务</div>
                <div class="feature-item">经营数据分析</div>
                <div class="feature-item">同行对比</div>
                <div class="feature-item">远期房态</div>
                <div class="feature-item">7x24小时技术支持 <br>0731-88892222</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

