<div class="wrapper reset-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>密码重置</h4>
    </div>
    <div class="section gap-height">
      <div class="relation-form">
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="username">用户名</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="username" name="username" placeholder="请填写登录使用的用户名">
          </div>
        </div>
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="phoneNumber">手机号</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="请填写注册时填写的手机号">
          </div>
        </div>
        <div class="form-item message-code">
          <div class="form-hd"><span>*</span><label for="messageCode">短信验证</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="messageCode" name="messageCode">
            <span class="get-code">获取验证码</span>
          </div>
        </div>
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="psd">新密码</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="psd" name="psd" placeholder="8-20个字符，包含字母和数字">
          </div>
        </div>
        <div class="form-btn">
          <div class="btn-inner">关联</div>
        </div>
        <div class="tips">
          温馨提示：关联酒店的账户可以切换查看多个酒店数据
        </div>
      </div>
    </div>
  </div>
</div>

