<div class="wrapper security-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>密码安全</h4>
    </div>
    <div class="section gap-height">
      <div class="weui-cells">
        <div class="weui-cell weui-cell_access" routerLink="/user-center/modify">
          <div class="weui-cell__bd">修改密码</div>
          <div class="weui-cell__ft"></div>
        </div>
        <div class="weui-cell weui-cell_access" routerLink="/user-center/reset">
          <div class="weui-cell__bd">密码重置</div>
          <div class="weui-cell__ft"></div>
        </div>
      </div>
    </div>
  </div>
</div>

