<div class="wrapper historical-wrapper">
  <div class="wrapper-bg">
    <div class="fixed-head">
      <div class="title">
        <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
        <h4>历史营收</h4>
      </div>
      <div class="date-select clearfix gap-height">
        <div class="date-picker pull-left">
          <weui-date-picker class="date-cc" placeholder="Pick a Date" [min]="DT.min" [max]="DT.max" [(ngModel)]="res.date" name="date"></weui-date-picker>
          <span class="iconfont icon-xuanzeriqi"></span>
        </div>
        <div class="month pull-right">
          <span>前一天</span>
          <span>后一天</span>
        </div>
      </div>
    </div>
    <div class="scroll-cont">
      <div class="income-data">
        <div class="income-before">
          <div class="pull-left">本日营收 (元)</div>
        </div>
        <div class="income-number">
          36241.12
        </div>
        <div class="other-income">
          <span>房费收入 30000.00元</span>
          <span>其它收入 240.12元</span>
        </div>
      </div>
      <div class="room-datas">
        <div class="room-item">
          <p>Revpar</p>
          <span>260</span>
        </div>
        <div class="room-item">
          <p>平均房价</p>
          <span>280</span>
        </div>
        <div class="room-item">
          <p>间夜数</p>
          <span>108</span>
        </div>
        <div class="room-item">
          <p>出租率</p>
          <span>89%</span>
        </div>
      </div>
      <div class="gap-height echarts-item">
        <div class="echarts-title clearfix">
          <div class="pull-left main-title">本日订单</div>
        </div>
        <div class="echarts-circle">
          <div class="room-datas">
            <div class="room-item">
              <p>OTA订单</p>
              <span>260</span>
            </div>
            <div class="room-item">
              <p>直销订单</p>
              <span>280</span>
            </div>
            <div class="room-item">
              <p>其它</p>
              <span>108</span>
            </div>
          </div>
          <div echarts [options]="option" class="demo-chart"></div>
          <div class="ota-detail">
            <div class="ota-title">OTA订单明细</div>
            <div class="ota-list">
              <div class="ota-item"><span>携程</span>9</div>
              <div class="ota-item"><span>艺龙</span>11</div>
              <div class="ota-item"><span>飞猪</span>5</div>
              <div class="ota-item"><span>美团</span>3</div>
              <div class="ota-item"><span>去哪儿</span>2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-height echarts-item pd-bottom">
        <div class="echarts-title clearfix">
          <div class="pull-left main-title">本日产品销量</div>
        </div>
        <div class="echarts-table">
          <div class="table-head">
            <div class="item">房型名称</div>
            <div class="item">间数</div>
            <div class="item">出租率</div>
            <div class="item">平均房价</div>
          </div>
          <div class="table-body">
            <div class="table-row">
              <div class="item">高级双人房</div>
              <div class="item">20</div>
              <div class="item">76%</div>
              <div class="item">210.00</div>
            </div>
            <div class="table-row">
              <div class="item">高级单人房</div>
              <div class="item">18</div>
              <div class="item">72%</div>
              <div class="item">220.00</div>
            </div>
            <div class="table-row">
              <div class="item">娱乐套房</div>
              <div class="item">10</div>
              <div class="item">60%</div>
              <div class="item">308.00</div>
            </div>
            <div class="table-row">
              <div class="item">豪华江景房</div>
              <div class="item">4</div>
              <div class="item">66%</div>
              <div class="item">356.00</div>
            </div>
            <div class="table-row">
              <div class="item">豪华电影房</div>
              <div class="item">2</div>
              <div class="item">40%</div>
              <div class="item">398.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-height echarts-item pd-bottom">
        <div class="echarts-title clearfix">
          <div class="pull-left main-title">本日客源结构</div>
        </div>
        <div class="echarts-table">
          <div class="table-head">
            <div class="item">客源</div>
            <div class="item">间数</div>
            <div class="item">占比</div>
            <div class="item">收入</div>
          </div>
          <div class="table-body">
            <div class="table-row">
              <div class="item">散客</div>
              <div class="item">32</div>
              <div class="item">52%</div>
              <div class="item">8766.00</div>
            </div>
            <div class="table-row">
              <div class="item">会员</div>
              <div class="item">10</div>
              <div class="item">22%</div>
              <div class="item">5745.00</div>
            </div>
            <div class="table-row">
              <div class="item">单位</div>
              <div class="item">2</div>
              <div class="item">8%</div>
              <div class="item">1456.00</div>
            </div>
            <div class="table-row">
              <div class="item">中介</div>
              <div class="item">10</div>
              <div class="item">20%</div>
              <div class="item">5874.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-height echarts-item">
        <div class="echarts-title clearfix">
          <div class="pull-left main-title">本日会员情况</div>
        </div>
        <div class="room-datas">
          <div class="room-item">
            <p>会员办卡</p>
            <span>260</span>
          </div>
          <div class="room-item">
            <p>会员储值</p>
            <span>280</span>
          </div>
          <div class="room-item">
            <p>储值消费</p>
            <span>108</span>
          </div>
        </div>
      </div>
      <div class="no-more">
        <div class="line"></div>
        <div class="nomore">我是有底线的</div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
