<div class="wrapper order-detail">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>订单详情</h4>
    </div>
    <div class="section gap-height">
      <div class="item">
        <div class="item-name">渠道</div>
        <div class="item-val">去哪儿</div>
      </div>
      <div class="item">
        <div class="item-name">订单号</div>
        <div class="item-val">YD123654855864</div>
      </div>
      <div class="item">
        <div class="item-name">总价</div>
        <div class="item-val">¥ 516.00  <span class="red-color">预付</span></div>
      </div>
      <div class="item">
        <div class="item-name">状态</div>
        <div class="item-val red-color">已入住</div>
      </div>
    </div>
    <div class="section gap-height">
      <div class="item">
        <div class="item-name">酒店名称</div>
        <div class="item-val">金天鹅国际大酒店</div>
      </div>
      <div class="item">
        <div class="item-name">房型</div>
        <div class="item-val">豪华双人间</div>
      </div>
      <div class="item">
        <div class="item-name">抵离时间</div>
        <div class="item-val">01-15/08:00 至 01-16/12:00</div>
      </div>
      <div class="item">
        <div class="item-name">间数</div>
        <div class="item-val">2间</div>
      </div>
      <div class="item">
        <div class="item-name">预定人</div>
        <div class="item-val">肖先生</div>
      </div>
      <div class="item">
        <div class="item-name">电话</div>
        <div class="item-val">1354897845</div>
      </div>
    </div>
    <section class="section gap-height">
      <div class="item">
        <div class="item-name">房价方案</div>
        <div class="item-val">促销价</div>
      </div>
      <div class="item">
        <div class="item-name">房价</div>
        <div class="item-val">¥258.00</div>
      </div>
      <div class="item">
        <div class="item-name">房号</div>
        <div class="item-val red-color">未排房</div>
      </div>
    </section>
  </div>
</div>

