<div class="wrapper add-relation-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>添加关联酒店账户</h4>
    </div>
    <div class="section gap-height">
      <div class="relation-form">
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="account">账户名</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="account" name="account">
          </div>
        </div>
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="psd">密码</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="psd" name="psd">
          </div>
        </div>
        <div class="form-btn">
          <div class="btn-inner">关联</div>
        </div>
        <div class="tips">
          温馨提示：关联酒店的账户可以切换查看多个酒店数据
        </div>
      </div>
    </div>
  </div>
</div>

