<div class="wrapper modify-wrapper">
  <div class="wrapper-bg">
    <div class="title">
      <div class="return-icon"><i class="iconfont icon-jiantou"></i></div>
      <h4>修改密码</h4>
    </div>
    <div class="section gap-height">
      <div class="relation-form">
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="oldPsd">当前用户密码</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="oldPsd" name="oldPsd">
          </div>
        </div>
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="psd">新密码</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="psd" name="psd" placeholder="8-20个字符，包含字母和数字">
          </div>
        </div>
        <div class="form-item">
          <div class="form-hd"><span>*</span><label for="confirmPsd">确认新密码</label></div>
          <div class="form-bd">
            <input type="text" class="form-input" [(ngModel)]="confirmPsd" name="confirmPsd" placeholder="再次输入新密码">
          </div>
        </div>
        <div class="form-btn">
          <div class="btn-inner">关联</div>
        </div>
        <div class="tips">
          温馨提示：关联酒店的账户可以切换查看多个酒店数据
        </div>
      </div>
    </div>
  </div>
</div>

